html, body {
	padding: 0;
	margin: 0;
	font-family:'Menlo', 'Sans-Serif';
	color: #333;
}

nav ul, footer ul {
	padding: 0px;
	list-style: none;
	font-weight: bold;
}

h1 {
	font-size: 3em;
}

p {
	font-size: 1.5em;
	line-height: 1.4em;
}

canvas {
	display: block;
}